<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
    <style>
      .box {
  position: relative;
}
.ribbon {
  position: absolute;
  right: -5px; top: -20px;
  z-index: 1;
  overflow: hidden;
  width: 95px; height: 95px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
    </style>
    <body>
    <%-include('./partials/Nav.ejs')%>
    <div class="container p-3">
        <div class="d-flex gap-2">
            <a href="/Ecommerce/Customers">customer</a> /  <a href='/customer/<%=result._id%>/edit'><%=result.Username%></a> 
        </div>
        <div class="row g-3 shadow p-3 m-3 box">
          <%if(!result.blocked){%>
            <div class="ribbon"><span>QUOATABLE</span></div>
          <%}%>
          <h3><%=result.Username.toUpperCase()%></h3>
            <div  style="width: 12rem;">
                <img  src="<%if(result.Image){%>
                  <%= result.Image %>
                  <%}else{%>
                     https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_640.png
                  <%}%>
                  " alt="<%= result.Name %> Photo" class="card-img-top" alt="...">
            </div>
            <!-- view only section -->

            <div class="row g-3 p-3 box">
               <!-- curent sales person -->
            <div class="col-6">
              <label for="street" class="form-label">Current Sales Person </label>
              <h5 class="form-text">
                <%salesp = employees.filter((person)=>{%>
                  <%return person._id.toString() === result.salesPerson.toString()%>
                <%})%>
                <%salesp.map(name =>{%>
                  <%=name.firstName.toUpperCase()%> <%=name.lastName.toUpperCase()%>
                <%})%></h5>
            </div>
            <!-- ends here -->

             <!-- curent billing  -->
             <div class="col-6">
              <label for="street" class="form-label">Billing Method </label>
              <h5 class="form-text">
                <%=result.category%>
              </h5>
            </div>
            <!-- ends here -->

             <!-- curent priceList  -->
             <div class="col-6">
              <label for="street" class="form-label"> PriceList </label>
              <h5 class="form-text">
                <%=result.priceList%>
              </h5>
            </div>
            <!-- ends here -->

            <!-- curent email  -->
            <div class="col-6">
              <label for="street" class="form-label"> Email </label>
              <h5 class="form-text">
                <%=result.Email%>
              </h5>
            </div>
            <!-- ends here -->

             <!-- curent telephone  -->
             <div class="col-6">
              <label for="street" class="form-label"> Telephone </label>
              <h5 class="form-text">
                <%=result.phone%>
              </h5>
            </div>
            <!-- ends here -->
            <!-- curent priceList  -->
            <div class="col-6">
              <label for="street" class="form-label"> Debt </label>
              <h5 class="form-text">
                ₦<%=result.Debt%>
              </h5>
            </div>
            <!-- ends here -->

            <!-- curent priceList  -->
            <div class="col-6">
              <label for="street" class="form-label"> Address </label>
              <h5 class="form-text">
                <%=result.street.toUpperCase()%>
              </h5>
            </div>
            <!-- ends here -->

            <div class="col-6">
              <label for="street" class="form-label">  </label>
              <p>
                <a href="/" class="link-dark link-opacity-25-hover">
                 View Transaction History 
                </a>
              </p>
            </div>

            </div>
            <!-- view only div ends here -->

            <%if(user.role ==="Admin"){%>
            <!-- FOR customer type -->
            <div style="border-top:silver dotted 2px;">
              <h3 style="color: rgb(228, 165, 83);font-family:'Times New Roman', Times, serif;">EDIT <%=result.Username.toUpperCase()%> </h3>
              <div class="col-md-4">
                <label for="category" class="form-label">Billing Method</label>
                <select id="category" class="form-select">
                  <option class="bg-warning p-2" value="<%=result.category%>" ><%=result.category%> (CURRENT)</option>
                  <option value='Credit-Customer'>Credit Customer</option>
                  <option value="Pay as Go">Prepaid customer</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label for="salesPerson" class="form-label">Change Sale person</label>
              <select name="salesPerson" id="salesPerson" class="form-select">
                <option >Choose...</option>
                <%employees.forEach(employe=>{%>
               <option value="<%=employe._id%>"><%=employe.firstName%> <%=employe.lastName%></option>
               <% })%>
            </select>
            </div>

              <!-- drop down for pricelist -->

              <div class="col-md-5">
                <label for="priceList" class="form-label">Price List</label>
                <select
                  class="form-select "
                  id="priceList"
                  aria-describedby="validationServer04Feedback"
                  required
                >
                <option class="bg-warning p-2" value="<%=result.priceList%>" ><%=result.priceList%> (CURRENT)</option>
                  <option value="Van_Price">Van Price </option>
                  <option value="Market_Price">Super Market price</option>
                  <option value="WareHouse_Price">Whole Sale price</option>
                </select>
                </div>

             <!-- add credit or cash customer -->
            <div class="col-md-4">
                <label for="validationCustomEmail" class="form-label"> Email</label>
                <div class="input-group has-validation">
                    <a  href="mailto:<%=result.Email%>" class="input-group-text" id="inputGroupPrepend">@</a>
                    <input type="text" class="form-control" id="validationCustomEmail"value="<%=result.Email%>" required aria-describedby="inputGroupPrepend"> 
                  </div>
              </div>
              <div class="col-md-4">
                <label for="validationCustomertel" class="form-label">Telephone</label>
                <div class="input-group has-validation">
                  <a href="tel:+234<%=result.phone%>" class="input-group-text" id="inputGroupPrepend1">&phone;<a>
                  <input type="text" class="form-control" id="validationCustomertel" aria-describedby="inputGroupPrepend1" required value="<%=result.phone%>">
                </div>
              </div>
            <div class="col-md-6">
              <label for="Name" class="form-label">Name</label>
              <input type="text" class="form-control" id="Name" value="<%=result.Username%>">
            </div>
            <div class="col-6">
              <label for="street" class="form-label">Address </label>
              <input type="text" class="form-control" id="street" placeholder="Apartment, studio, or floor" value="<%=result.street%>">
            </div>
            <div class="col-md-6">
              <label for="creditLimit" class="form-label">creditLimit</label>
              <input type="text" class="form-control" id="creditLimit" value="<%=result.creditLimit%>">
            </div>
            <div class="col-md-4">
              <label for="discount" class="form-label">Discount</label>
              <select id="discount" class="form-select">
                <option class="bg-warning p-2"value="<%=result.discount%>"><%=result.discount%> %</option>
                <option value='2' >2%</option>
                <option value="5">5%</option>
                <option value="10">10%</option>
                <option value="50">50%</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">DOB</label>
              <input type="date" class="form-control" id="DOB" value="<%=result.DOB%>">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" <%if(result.NewsFeedSubscription){%>
                    checked="checked"
                    <%}%>>
                <label class="form-check-label" for="gridCheck">
                   Subscribe to Email Markerting list 
                </label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1" <%if(result.blocked){%>
                    checked="checked"
                    <%}%>>
                <label class="form-check-label" for="gridCheck1">
                   Block <%=result.Username%> ?
                </label>
              </div>
            </div>
            
            <div class="col-12">
              <button type="submit" data-id="<%=result._id%>"  id="update" class="btn btn-primary">Update</button>
            </div>
          </div>
          <%}%>
          <%-include('./partials/footer.ejs')%>
    </div>
</body>
<script>
  // =================================================================
  //send pactch request and delete 
const update = document.getElementById('update');
//get all employee list '/employee/all'
let salesPerson 
  document.querySelector('#salesPerson').addEventListener('change',async (e)=>{
    let request = await fetch(`/employee/${e.target.value}`,{
      method: 'GET', 
      headers:{'content-type': 'application/json'}
    })
    salesPerson = await request.json()

  })
update.addEventListener('click',async ()=>{
  const id = update.dataset.id;
  const Username = document.querySelector('input#Name').value
  const Email = document.querySelector('input#validationCustomEmail').value
  const phone = document.querySelector('input#validationCustomertel').value
  const Address = document.querySelector('input#validationCustomEmail').value
  const creditLimit = document.querySelector('input#creditLimit').value
  const street = document.querySelector('#street').value
  const Discount = document.getElementById("discount")
  let discount = Discount.options[Discount.selectedIndex].value;
  const NewsFeedSubscription = document.querySelector('input#gridCheck').checked
  const blocked = document.querySelector('input#gridCheck1').checked
  const DOB = document.querySelector('input#DOB').value;
  const categorys = document.getElementById("category")
  let category = categorys.options[categorys.selectedIndex].value;
  let priceList = document.querySelector('#priceList').value

  const url = `/customer/update/${id}`;

  const data = await fetch(url,{
    method:'PATCH',
    body: JSON.stringify({
      Username,
      phone,
      Email,
      NewsFeedSubscription,
      blocked,
      creditLimit,
      discount,
      DOB,
      category,
      street,
      salesPerson,
      priceList
    }),
    headers:{'Content-Type': 'application/json'}
  })

    const res = await data.json().then(json => {
        if (json){
          alert( json.result|| json.error)
          json.result ? location.reload() : ''
        }
      }
    )
})


</script>
</html>

